<div id="tutoriales">

</div>

<script id="template-entrada" type="text/x-handlebars-template">
    <div class="entrada">
        <a>
            <h2>{{nombre}}</h2>
            <div class="tutorial">
                {{{descripcion}}}
            </div>
        </a>
    </div>
</script>

<script src="js/MostrarTutoriales.js" charset="utf-8"></script>
